.nav {
  padding-top: 5px;
}

.control-group {
  padding-right: 14px;
  padding-left: 10px;
  padding-bottom: 0px;
  padding-top: 8px;
}

#logo {
  font-weight: bold;
  font-size: 2em;
  font-family: 'Cherry Swash', cursive;
  padding-bottom: 5px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  color: #990000;
}

#e {
  font-weight:bold;
  font-size: 2.5em;
  font-family: 'Cherry Swash', cursive;
  color: #990000;
}

.blue-btn {
  background: #003399;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

.delete-btn {
  background: #990000;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

.delete-btn:hover {
  background: #7A0000;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

.blue-btn:hover {
  background: #002E8A;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

.question-btn {
  background: #990000;
  color: #FFFFFF;
  font-family: 'Martel', serif;
}

.question-btn:visited {
  background: #990000;
  color: #FFFFFF;
  font-family: 'Martel', serif;
}

.question-btn:hover {
  background: #7A0000;
  color: #FFFFFF;
  font-family: 'Martel', serif;
}

.success-btn {
  background: #197519;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

.success-btn:visited {
  background: #197519;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

.success-btn:hover {
  background: #006600;
  color: #FFFFFF;
  font-family: 'Source Sans Pro', sans-serif;
}

#everything-else {
  font-family: 'Montserrat', sans-serif;
  margin-left: 70px;
  margin-top: 50px;
  margin-right: 310px;
}

#bottom {
  margin-top: 150px;
  position: fixed;
  top: 400px;
  /*right: 5px;*/
  font-weight: normal;
  font-size: .7em;
  color: grey;
  font-family: 'Martel', serif;
}

.emberfire {
  max-width: 23px;
}

.answer-date {
  font-size: .6em;
  opacity: 0.4;
}

.each-question {
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 10px;
  /*padding-bottom: 5px;*/
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.page-title {
  opacity: 0.8;
  padding-bottom: 15px;
}
